body {
  width: 100vw;
  height: 100vh;
  background-color: #ccc;
  overflow: hidden;
}

.container {
  width: 90%;
  margin: auto;
  border: 5px solid darkcyan;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  flex-wrap: wrap;
  padding: 10px;
}
.container div:nth-child(even) {
  background-color: lightblue;
  border: 1px solid green;
  width: 50px;
  height: 50px;
}

.container div:nth-child(even) {
  background-color: lightcoral;
  border: 1px solid green;
  width: 50px;
  height: 50px;
}

.time {
  letter-spacing: -1px;
  padding: 2px;
  background-color: wheat;
  border-radius: 5px;
}
.controls {
  width: 60%;
  padding: 5px;
  padding-top: 20px;
  border-radius: 15px;
  background-color: darkolivegreen;
  border: 1px solid black;
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}
.control {
  border-radius: 5px;
  outline: none;
  border: none;
}
.control:hover {
  cursor: pointer;
  box-shadow: 0 0 4px #ccc;
}
input[type="range"] {
  width: 80%;
  max-width: 600px;
  margin: auto;
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
